body{
    background-color: rgb(27, 230, 108);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

/* .estilo-corpo{
    background-color: rgb(71, 158, 250);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
} */

/* #corpo{
    background-color: rgb(253, 122, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
} */